@font-face {
    font-family: 'si';
    src: url('../icon/socicon.eot');
    src: url('../icon/socicon.eot?#iefix') format('embedded-opentype'),
         url('../icon/socicon.woff') format('woff'),
         url('../icon/socicon.ttf') format('truetype'),
         url('../icon/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../icon/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
    padding-top: 15px;;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 31px;
    height: 31px;
    line-height: 31px;
    font-size: 17px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 10px;
    color: #000000;
    background-color: #ffffff;
}

.soc a:hover {
  z-index: 2;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  background-color: white;
}

.soc-icon-last{
    margin:0 ;
}

.soc-facebook:before {
    content:'b';
    margin-left: -8px;
}
.soc-twitter:before {
    content:'a';
    margin-left: -8px;
}
.soc-google:before {
    content:'c';
    margin-left: -8px;
}
.soc-instagram:before {
    content:'x';
    margin-left: -8px;
}
.soc-pinterest:before {
    content:'d';
    margin-left: -8px;
}

@media (max-width : 1200px) {
    ul .soc{
      display: none ;
    }
    .soc li {
        display: none ;
    }
}
