body {
    font-family: "../font/TrajanPro.ttf", sans-serif;
    background-color: black;
}

.carte_header, .carte_Title {
    position: absolute;
    z-index: 9999;
    text-align: center;
    width: 100vw;

}

.carte_header p, .carte_Title p {
    line-height: 300px;
    margin: 0;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 10px;
    text-shadow: 6px 5px 10px rgba(0, 0, 0, 0.5);

}

.carte_Title p {
    line-height: 400px;
}

.Menu, .bagelMenu, .saladMenu {
    padding-top: 100px;
    padding-bottom: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.bagelMenu img {
    height: 400px;
}

.Menu img {
    height: 600px;
}

.parallax-container {
    height: 400px;
}

.content .parallax-container:first-child {
    height: 300px !important;
}

.parallax-container img {
    width: 100%;
}

.decorated {
    margin-top: -28px;
    margin-bottom: -28px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/border/decorated-top-border.png"),
    url("../img/border/decorated-bottom-border.png");
    background-repeat: repeat-x,
    repeat-x;
    background-position: 0 0,
    bottom right;
}

@media screen and (max-width: 1635px) {
    .saladMenu img {
        height: 200px;
    }
}

@media screen and (max-width: 1520px) {
    .bagelMenu img {
        height: 300px;
    }
}

@media screen and (max-width: 1210px) {

    .Menu, .bagelMenu, .saladMenu {
        flex-direction: column;
        align-items: center;
    }

    .Menu img, .bagelMenu img, .saladMenu img {
        height: 500px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: solid #be1423 1px;
    }

    .saladMenu img {
        height: 300px;
    }

    .Menu img:first-child, .bagelMenuManager .bagelMenu:first-child img:first-child, .saladMenu img:first-child {
        margin-top: 50px;
    }

    .Menu img:last-child, .bagelMenuManager .bagelMenu:last-child img:last-child, .saladMenu img:last-child {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: none;
    }

    .bagelMenu img {
        height: 300px;
    }

    .bagelMenuManager .bagelMenu:first-child {
        padding-bottom: 0;
    }

    .bagelMenuManager .bagelMenu:last-child {
        padding-top: 0;
    }
}

@media screen and (max-width: 770px) {
    .saladMenu img {
        height: 200px;
    }
}

@media screen and (max-width: 730px) {
    .carte_header {
        background-position: 0;
        height: 300px;
    }

    .carte_Title {
        background-position: 0;
        height: 300px;
    }

    .content .parallax-container, .content .parallax-container:first-child {
        height: 200px !important;
    }

    .content .parallax-container:first-child img {
        width: 200%;
    }

    .carte_Title p, .carte_header p {
        line-height: 200px;
        font-size: 50px;
    }
}

@media screen and (max-width: 500px) {
    .bagelMenu img, .saladMenu img {
        width: 100%;
        height: 100%
    }
}