body{
  /*overflow: hidden;*/
}
@font-face {
    font-family: "bebas";
    src: url('../font/BEBASNEUEBOLD.TTF');
}

@font-face {
    font-family: "pacifico";
    src: url('../font/Pacifico.ttf');
}

@font-face {
    font-family: "trajan";
    src: url('../font/TrajanPro.ttf');
}

@font-face {
    font-family: "basker";
    src: url('../font/LibreBaskerville-Regular.otf');
}

h2{
  font-size: 2em;
  font-family: "basker", Helvetica, Arial, sans-serif;
  color: #C01422;
  text-align: center;
  font-weight: bold;
}

.input-field{
  font-family: "basker", Helvetica, Arial, sans-serif;
}

.input-field label {
  color: #C01422;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #C01422;
}

.input-field input[type=email]:focus + label {
  color: #C01422;
}

.input-field input[type=password]:focus + label {
  color: #C01422;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #C01422;
  box-shadow: 0 1px 0 0 #C01422;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #C01422;
  box-shadow: 0 1px 0 0 #C01422;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #C01422;
  box-shadow: 0 1px 0 0 #C01422;
}

.input-field textarea[type=text]:focus + label {
  color: #C01422;
}
.input-field textarea[type=text]:focus {
  border-bottom: 1px solid #C01422;
  box-shadow: 0 1px 0 0 #C01422;
}

::selection{
  background-color: #C01422;
  color: white;
}

::-moz-selection {
  background-color: #C01422;
  color: white;
}

.brand-logo{
  font-family: "pacifico", Helvetica, Arial, sans-serif;
  margin-left: 1%;
  color: white;
}

.nav-wrapper {
  background-color: #C01422;
}

/*nav{
  position: fixed;
}*/


.hide-on-med-and-down{
  margin-left: 10vw;
  font-family: "trajan", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.acceuil{
  height: 100%;
  width: 100%;
  margin:0 auto;
}

.acceuil img{
  width: 100%;
  margin:0 auto;
}

body{
  overflow: hidden;
  /*position: relative;
  height: 65%;
  width: auto;*/
}

.info{
  width: 66.33%;
  height: auto;
  /*background-color: red;*/
  /*background-color: rgb(213, 213, 213);*/
  float: left;
}

.contact{
  position: relative;
  width: 33.66%;
  height: auto;
  /*background-color: rgb(236, 236, 236);*/
  float: left;
}

.horraire{
  width: 50%;
  float: left;
}

.informations{
  width: 50%;
  float: left;
  padding-bottom: ;
  /*background-color: rgb(230, 230, 230);
  height: 100%;*/
}

iframe{
  position: relative;
  width: 100%;
  height: 300px;
  float: left;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width:80%;
  font-family: "trajan", Helvetica, Arial, sans-serif;
}

table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table td {
  padding: .625em;
  text-align: center;
}

.ligne-info{
  font-size: 1.2em;
  font-family: "basker", Helvetica, Arial, sans-serif;
  margin-left: 7%;
  margin-top: 2%;
  float: left;
}

.rouge{
  color: #C01422;
  float: left;
  font-weight: bold;
}

@media (max-width : 950px) {
  .info{
    width: 100%;
    height: auto;
  }

  .contact{
    width: 100%;
    height: auto;
    border-top: 1px solid #ddd;
  }

  .horraire{
    width: 100%;
    margin-bottom: 5vh;
  }

  .informations{
    width: 100%;
    float: left;
    border-top: 1px solid #ddd;
    padding-bottom: 5vh;
    background-color: rgb(230, 230, 230);
  }

  table {
    width:80%;
  }

  body{
    overflow: auto;
  }
}
