/*body{
  overflow: hidden;
}*/
@font-face {
    font-family: "bebas";
    src: url('../font/BEBASNEUEBOLD.TTF');
}

@font-face {
    font-family: "pacifico";
    src: url('../font/Pacifico.ttf');
}

@font-face {
    font-family: "trajan";
    src: url('../font/TrajanPro.ttf');
}

@font-face {
    font-family: "basker";
    src: url('../font/LibreBaskerville-Regular.otf');
}

.input-field{
  font-family: "basker", Helvetica, Arial, sans-serif;
}

.row{
  margin-top: 5%;
}

.input-field label {
  color: #C01422;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #C01422;
}

.input-field input[type=email]:focus + label {
  color: #C01422;
}

.input-field input[type=password]:focus + label {
  color: #C01422;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #C01422;
  box-shadow: 0 1px 0 0 #C01422;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #C01422;
  box-shadow: 0 1px 0 0 #C01422;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #C01422;
  box-shadow: 0 1px 0 0 #C01422;
}

.input-field textarea[type=text]:focus + label {
  color: #C01422;
}
.input-field textarea[type=text]:focus {
  border-bottom: 1px solid #C01422;
  box-shadow: 0 1px 0 0 #C01422;
}

::selection{
  background-color: #C01422;
  color: white;
}

::-moz-selection {
  background-color: #C01422;
  color: white;
}

.brand-logo{
  font-family: "pacifico", Helvetica, Arial, sans-serif;
  margin-left: 1%;
  color: white;
}

.nav-wrapper {
  background-color: #C01422;
}

.hide-on-med-and-down{
  margin-left: 10vw;
  font-family: "trajan", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.acceuil{
  height: 100vh;
  width: 100vw;
  margin:0 auto;
}

.acceuil img{
  width: 100%;
  margin:0 auto;
}

.info{
  width: 66.33%;
  height: 62%;
  /*background-color: red;*/
  /*background-color: rgb(213, 213, 213);*/
  float: left;
}

.contact{
  width: 33.66%;
  height: 62%;
  /*background-color: blue;*/
  /*background-color: rgb(236, 236, 236);*/
  float: left;
  border-left: 1px solid #ddd;
  background: #f8f8f8;
}

iframe{
  width: 100%;
  height: 300px;
  float: left;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width:50%;
  border-radius: 10px;
  font-family: "trajan", Helvetica, Arial, sans-serif;
  margin-top: 8%;
}

table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table td {
  padding: .625em;
  text-align: center;
}

@media (max-width : 720px) {
  .info{
    width: 100%;
    height: 700px;
  }

  .contact{
    width: 100%;
    height: 700px;
  }

  table {
    width:80%;
  }
}
